<link href="//unpkg.com/iview/dist/styles/iview.css" rel="stylesheet" />
<style>
    body{
        margin-top:50px;
    }
</style>
<div class="Divgrid">
    <h3>App 9 : Vue Table</h3>
    <div id="app-9" style="margin-top:10px;">
        <i-table border :columns="columns1" :data="data1"></i-table>
    </div>
</div>



<div class="Divgrid">
    <h3>App 10 : Vue Table</h3>
    <div id="app-10" style="margin-top:10px;">
        <i-table border :columns="columns1" :data="data1"></i-table>
    </div>
</div>
